<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>575106327080-hcnm5qems0iv1o7ss7vur1l84gqmgots.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575106327080-hcnm5qems0iv1o7ss7vur1l84gqmgots</string>
	<key>API_KEY</key>
	<string>AIzaSyAVEDHXfCgeXQidgMYFYLTC39jCi-pKHXc</string>
	<key>GCM_SENDER_ID</key>
	<string>575106327080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myric.CocktailMaker</string>
	<key>PROJECT_ID</key>
	<string>ipoet-11bfd</string>
	<key>STORAGE_BUCKET</key>
	<string>ipoet-11bfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575106327080:ios:371456c69b546238</string>
	<key>DATABASE_URL</key>
	<string>https://ipoet-11bfd.firebaseio.com</string>
</dict>
</plist>